.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    padding: 6px;
    background: var(--color-background-primary);
    border: 0.5px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);
}

.item {
    height: 32px;
    padding: 0 14px;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-secondary);
    background: transparent;
    border: none;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
}

.item:hover {
    background: var(--color-background-secondary);
    color: var(--color-text-secondary);
}

.ativo {
    background: var(--color-background-tertiary);
    border: 0.5px solid var(--color-border-secondary);
    color: var(--color-text-secondary);
}

.btnLogout {
    height: 32px;
    padding: 0 14px;
    font-size: 13px;
    font-weight: 500;
    border-radius: var(--border-radius-md);
    border: 0.5px solid var(--color-border-danger);
    background: transparent;
    color: var(--color-text-danger);
    cursor: pointer;
    margin-left: auto;
    transition: background 0.15s;
}

.btnLogout:hover {
    background: var(--color-background-danger);
}

.logoEmpresa{
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    margin: 0 1.5rem;

    span{
        color: var(--color-background-tertiary);
    }
}