html {
  height: 100%;
}

html,
body {
  background-color: #0A0A0A;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-background-primary: #2A2A2A;
  --color-background-secondary: #0A0A0A;
  --color-background-tertiary: #e66101;
  --color-background-success: #eaf3de;
  --color-background-danger: #fcebeb;

  --color-text-primary: #2b2b2b;
  --color-text-secondary: #ffffff;
  --color-text-tertiary: #2b2b2b;
  --color-text-success: #3b6d11;
  --color-text-danger: #a32d2d;

  --color-border-tertiary: #0000001f;
  --color-border-secondary: #00000033;
  --color-border-primary: #00000059;

  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
}
